body {
	font-size: 14px;
	letter-spacing: 0.5px;
	background: #2c3e50;
	overflow-x: hidden;
	font-family: Roboto, sans-serif;
}

h1 {
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: 700;
	margin: 10px auto;
	font-family: monospace;
}

.card {
	margin: 10px auto;
	box-shadow: 0 6px 8px 0 rgb(0 0 0 / 20%);
	transition: 0.3s;
}
.card img {
	height: 560px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h5.image-title {
	font-family: emoji;
	font-weight: 700;
}

p.image-explanation {
	font-family: emoji;
	text-align: justify;
	font-size: 18px;
}

p.image-date {
	font-family: emoji;
	font-size: 18px;
	text-align: justify;
	color: gray;
}

@media screen and (max-width: 768px) {
	.card {
		width: 100%;
	}
	.card img {
		height: 100%;
	}
}
